{% extends "main.html" %}
{% block content %}
<script>
    async function add_word(){
        $.ajax({
            url: "/add_word",
            type: "POST",
            data: {"word": $("#word").val(), "translations": $("#translations").val()},
            success: function(response){location.reload()},
            error: function(error){console.log(error)}
        })
    }
    async function write_word(word_data) {
        document.getElementById("words").innerHTML += "<a href='/dictionary/" + word_data[0] + "'>" + word_data[1] + " - " + word_data[2] + "</a>" + "</br>"
    }

    async function get_list_of_words() {
        console.log(document.getElementById("word_to_find").value)
        $.ajax({
                type: "POST",
                url: "/find_words",
                data: {"word_to_find": document.getElementById("word_to_find").value},
                success: function (response) {
                    response = JSON.parse(response)
                    console.log(response["words"])
                    document.getElementById("words").innerHTML = ""
                    for (var i = 0; i < response["words"].length; i++) {
                        write_word(response["words"][i])
                    }
                },
                error: function (error) {
                    console.log(error)
                    console.log("Error")
                }
            }
        )
        return true
    }
</script>

<input id="word_to_find" name="word_to_find">
<button onclick="get_list_of_words()">Click</button>

<p id="words">

</p>

{% if session.get("is_authenticated") %}
Добавление нового слова
<button onclick="add_word()">Add Word</button>
<input id="word"><input id="translations">
{% endif %}

{% endblock %}